{
  "root": true,
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "plugins": ["import", "sort-imports-es6-autofix"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2015
  },
  "env": {
    "browser": true
  },
  "rules": {
    "no-empty-function": "off",
    "import/order": [
      "error",
      {
        "groups": [
          ["external", "builtin"],
          ["index", "internal", "sibling", "parent"]
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
